<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="viewport" content="width= device-width initial-scale=1.0">
    <title>Change Password</title>
    <!-- <link rel="stylesheet" href="/css/front.css"> -->
</head>
<body>
    <div id="change-password-modal" class="modal">
        <div id="modal-content">
            <span class="close">&times;</span>
            <h2>Change Password</h2>
            <form id="change-password-form" action="/change-password" method="post">
                <input type="password" id="old-password" placeholder="Old password">
                <input type="password" id="new-password" placeholder="New password">
                <button id="change-password-submit">Change Password</button>
            </form>
        </div>
    </div>

    <script>
        // document.addEventListener("DOMContentLoaded", function() {
            var modal = document.getElementById("change-password-modal")
            var btn = document.getElementById("change-password-btn")
            var span = document.getElementsByClassName("close")[0]

            btn.onclick = function(){
                modal.style.display = "block"
            }
            span.onclick = function(){
                modal.style.display = "none"
            }
            window.onclick = function(event){
                if(event.target == modal)
                {
                    modal.style.display = "none"
                }
            }
            document.getElementById("modal-content").addEventListener("submit",event=>{
                event.preventDefault()

                var oldPassword = document.getElementById("old-password").value
                var newPassword = document.getElementById("new-password").value
                if (confirm("Are you sure you want to change your password?")) {
                    this.submit()
                }
            })
        // })

    </script>
</body>
</html>