<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<div class="login-container">
		<div class="left-side">
			<img src="/images/image.jpg" alt="my image">
		</div>
		<div class="right-side">
			<center>
				<h1>Login</h1>
			</center>
			<% if (messages.error) { %>
				<div id="error-message">
					<%= messages.error %>
				</div>
				<% } %>
					<div id="gettinginfo">
						<form action="/login" method="post">
							<label for="email">E-Mail : </label>
							<input type="email" id="email" name="email" placeholder="Enter your email" required>
							<br>
							<label for="password">Password : </label>
							<input type="password" id="password" name="password" placeholder="Enter your password" required>
							<button type="submit">Login</button>
						</form>
						<br>
						<center>Don't have an account? <a href="/register">Register</a></center>
					</div>
		</div>
	</div>
</body>

</html>